@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a TecProdesSas</h1>
    <p>Estos es el front end de tecnopress</p>
</div>
