@page
@model Proyecto.App.SitioWeb.Pages.Fas.UpdateModel
@using Proyecto.App.Dominio
@{
}
<h1>Modificar Fase</h1>
<form method='post'>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="fase.fechaCambio" class="control-label"></label>
        <input asp-for="fase.fechaCambio" class="form-control" />
        <span asp-validation-for="fase.fechaCambio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="fase.nombreFase" class="control-label"></label>
        <input asp-for="fase.nombreFase" class="form-control" />
        <span asp-validation-for="fase.nombreFase" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="fase.descripcion" class="control-label"></label>
        <input asp-for="fase.descripcion" class="form-control" />
        <span asp-validation-for="fase.descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="fase.estado" class="control-label" asp-items="Html.GetEnumSelectList<Estado>()"></label>
        <select asp-for="fase.estado" class="form-control" asp-items="Html.GetEnumSelectList<Estado>()"></select>
        <span asp-validation-for="fase.estado" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="fase.faseId" />

    <div class="form-group">
        <input type="submit" value="Modificar" class="btn btn-primary" />
    </div>

</form>