@page
@model Proyecto.App.SitioWeb.Pages.Categori.DeleteModel
@{
}
<h1>Eliminar Categoria</h1>
<form method='post'>
    <input type="hidden" asp-for="categoria.categoriaId" />
    <h2>Esta seguro de borrar el registro de @Model.categoria.nombreCategoria ?</h2>
    <h3>@Model.respuesta</h3>
    <input type="submit" value="Borrar" class="btn btn-danger" />
    <a asp-page="/Categori/List">Back to list</a>
</form>
